
RewriteEngine on

ErrorDocument 404 /404error.php

#ErrorDocument error-code custom-page


RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC,L]

RewriteRule ^blog-single/([0-9]+) blog-single.php?id=$1 [NC,L]


#RewriteRule ^index/([0-9]+)/([0-9a-zA-Z_-]+) index.php?id=$1&name=$2 [NC,L]

#Return 404 if original request is .php
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
# RewriteRule .* - [L,R=404]







