// @import "/components/header.php";
@import "../abstracts/mixins";
@import "../layouts/header";
@import "../layouts/login";
// @import "/components/comment.php";
@import "../layouts/domain-modal";
@import "../layouts/footer";
@import "../layouts/search-results";
@import "../layouts/main-slider";
@import "../layouts/latest-post";
@import "../layouts/author-section";
@import "../layouts/articles";
@import "../layouts/banner";
@import "../layouts/banner-index";
@import "../layouts/_about-image-grid";
@import "../layouts/subscribe";
@import "../layouts/featured-news";
@import "../layouts/login";
@import "../layouts/register";
@import "../layouts/contact-form";





// color-codes

html,body
{
    // width: 100%;
    // height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

a {
    text-decoration: none;
    background: transparent;
    color: $header-bg-color;
    &:hover {
        text-decoration: none;
    }
}

body {
    overflow-x: hidden;
}



h1, h2, h3, h4, h5, h6 {
    color: $heading-color;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}




.card {
    .card-header {
        color: $main-color;
        font-size: 25px;
        font-family: Garamond, serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    .card-body {
        blockquote {
            p {
                font-size: 25px;
                color: grey;
                // text-transform: uppercase;
                font-family: Garamond, serif;
                letter-spacing: 2px;
                text-decoration: underline;
            }
            footer {
                font-size: 15px;
                color: grey;
                text-transform: uppercase;
                font-family: Garamond, serif;
            }

        }
    }
    
}

// add_view-banner.php
.banner-row {
    margin-left: 10% !important;
    .banner-col {
      
        img {
            margin-bottom: 36px;
            border-radius: 10px;
            opacity: 1;
            transition: .5s ease;
            backface-visibility: hidden;
            box-shadow: rgba(80, 59, 59, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            // cursor: move;
        }
        a {
            opacity: 0;
            position: relative;
            right: 25%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            transition: .5s ease;

            &:hover {
                opacity: 1;
            }

            i {
                font-size: 20px;
            }
          
       }
    }
}

// banner.php


    #demo {
        .carousel-inner{
            position: relative;
            width: 94%;
            overflow: hidden;
            border-radius: 10px;
            margin-left: 40px;
            margin-top: 30px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

            .carousel-item {
                width: 100%;
                img {
                    width: 100%;
                    height: 550px;
                }
            }
        }
    }

    
