header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #f76a8c;
  padding: 15px 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand {
  padding: 0;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
  z-index: 1;
  font-weight: 700;
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px 0 10px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.8;
}

.navbar .navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
  opacity: 1;
}

.navbar .navbar-nav .nav-link:hover .fa-angle-down {
  display: none;
}

.navbar .navbar-nav .nav-link:hover .fa-angle-up {
  display: inline-block;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-item {
  padding: 0 12px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .navbar-nav .nav-item .caret-off::after {
  display: none;
}

.navbar .navbar-nav .nav-item .dropdown-item {
  font-weight: 600;
  font-size: 17px;
  color: #444;
}

.navbar .navbar-nav .nav-item a.nav-link.active {
  color: #fff;
  opacity: 1;
}

.navbar .navbar-nav .nav-item #navbarDropdown::after {
  display: none;
}

.navbar .search-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .search-right .theme-button {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  border-radius: 6px;
}

.navbar .search-right .pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0ms;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.93);
  height: 100vh;
}

.navbar .search-right .pop-overlay .popup {
  padding: 40px 50px;
  border-radius: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar .search-right .pop-overlay .popup form {
  margin: 0rem auto;
  max-width: 600px;
  display: block;
  position: relative;
}

.navbar .search-right .pop-overlay .popup form input[type="search"] {
  padding: 15px 45px 15px 15px;
  border: none;
  background: #fff;
  color: #292922;
  font-size: 16px;
  border-radius: 6px;
  margin: 0;
  text-align: left;
  height: 60px;
  width: 100%;
}

.navbar .search-right .pop-overlay .popup form button {
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: #f76a8c;
  position: absolute;
  right: 0;
  top: 13px;
}

.navbar .search-right .pop-overlay .popup .browse-items h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 26px;
  text-align: center;
  text-decoration: underline;
}

.navbar .search-right .pop-overlay .popup .browse-items .search-items {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.navbar .search-right .pop-overlay .popup .browse-items .search-items li {
  margin: 10px;
  display: inline-block;
}

.navbar .search-right .pop-overlay .popup .browse-items .search-items li a {
  font-size: 16px;
  color: #eee;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar .search-right .pop-overlay .close {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  background: none;
}

.navbar .search-right .pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.navbar .search-right .domain .hamburger1 {
  width: 30px;
  float: left;
  cursor: pointer;
  background: transparent;
}

.navbar .search-right .domain .hamburger1 div {
  height: 3px;
  width: 24px;
  background: #fff;
  margin: 5px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0;
  text-align: center;
}

.navbar .search-right .domain .hamburger1:hover .d1 {
  width: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .search-right .domain .hamburger1:hover .d2 {
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .search-right .domain .hamburger1:hover .d3 {
  width: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar #welcome {
  padding: 6px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 25px;
  text-transform: capitalize;
  color: #ffffff;
  margin-right: 0;
  font-weight: 700;
  position: relative;
  right: 2rem;
  -webkit-box-shadow: 193 191 191/35% 0px 5px 15px rgb;
          box-shadow: 193 191 191/35% 0px 5px 15px rgb;
}

.navbar-dark .navbar-toggler {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar-dark .navbar-toggler-icon {
  background-image: none;
}

.dropdown-toggle::after {
  display: none;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch {
  display: none;
  position: relative;
  width: 60px;
  margin: 0;
}

.theme-switch input {
  display: block;
}

.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  margin-top: 3px;
}

.mode-container span.fa-sun {
  display: none;
}

.mode-container span.fa-moon {
  display: block;
  color: #fff;
}

.fa-angle-up {
  display: none;
}

.navbar-collapse {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .navbar-toggler-icon {
    font-size: 20px;
    color: #fff;
    line-height: 34px;
  }
  .navbar-toggler {
    padding: 0rem 0rem;
    margin-left: 29.1rem;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .navbar-toggler #cross {
    display: none;
  }
  .search-right {
    margin-left: 44%;
    display: block;
  }
  .search-right .domain {
    display: none;
  }
  .navbar-collapse {
    -webkit-animation-name: none;
            animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    background: rgba(214, 86, 116, 0.7);
    padding: 20px;
    margin-top: 16px;
    border-radius: 6px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-toggler {
    padding: 0rem 0rem;
    margin-left: 29.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .navbar-toggler {
    padding: 0rem 0rem;
    margin-left: 4.4rem;
  }
  .search-right {
    margin-left: 5.2rem;
  }
}

.login-page {
  background: #f2f0f3;
}

.login-page .reallogin_info {
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.login-page .real_info h2 {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 3px;
  color: #f76a8c;
  font-weight: 700;
}

.login-page .real_info p {
  padding-bottom: 30px;
}

.login-page .real_info form label {
  color: #292922;
}

.login-page .input-group {
  margin-bottom: 20px;
}

.login-page .input-group input {
  outline: none;
  padding: 17px 20px;
  border-radius: 0;
  color: #292922;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f2f0f3;
}

.login-page .login-check {
  position: relative;
}

.login-page .login-check label {
  font-size: 14px;
  color: #292922;
  font-weight: 400;
}

.login-page .login-check input {
  vertical-align: -1px;
}

.login-page .btn-login {
  border: none;
  color: #fff;
  padding: 16px 40px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.login-page .btn-login:hover {
  background: #000000;
  color: #fff;
}

.login-page .account1 {
  padding-top: 20px;
  padding-bottom: 0px;
  line-height: 1.5em;
  font-size: 14px;
}

.login-page .account1 a {
  color: #f76a8c;
  font-size: 14px;
  text-decoration: underline;
}

.login-page .account1 a:hover {
  text-decoration: none;
}

.login-page #eye {
  color: #31708f;
  font-size: 1.3rem;
  position: absolute;
  top: 1rem;
  left: 25rem;
}

p {
  font-size: 16px;
  line-height: 24.5px;
  font-weight: 300;
  color: #696969;
}

li {
  list-style: none;
}

#DomainModal {
  display: none;
  padding: 17px;
}

#DomainModal .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  width: 400px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

#DomainModal .modal-dialog .modal-content {
  border-radius: 0;
  border: none;
  padding: 50px;
  height: 100%;
  overflow-y: auto;
}

#DomainModal .modal-dialog .modal-content .close {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 9;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

#DomainModal .modal-dialog .modal-content .close span {
  font-size: 25px;
  color: #333;
  margin-top: 20px;
  margin-right: 15px;
  background: #eee;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border-radius: 30px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 1;
  display: block;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .logo a {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-menu-items .navbar-nav .nav-item .nav-link {
  color: #696969;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-menu-items .navbar-nav .nav-item .nav-link:hover {
  color: #f76a8c;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li {
  display: inline-block;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p span {
  color: #ddd;
  width: 16px;
  margin-right: 5px;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p a {
  border: 2px solid transparent;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 2;
  margin-right: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 36px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 4px;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p a .twitter {
  background: #1da1f2;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p a .linkedin {
  background: #0077b5;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p a .tumblr {
  background: #35465c;
}

#DomainModal .right-toggle-bg {
  background-color: #fff;
}

footer .footer-inner-main {
  background-color: #fff;
}

footer .footer-about {
  border-bottom: 1px solid #ddd;
}

footer .social li {
  margin-right: 0;
  display: inline-block;
}

footer .social li a {
  background: transparent;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #696969;
  width: 32px;
}

footer h6 {
  color: #292922;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 28px;
  font-weight: 700;
}

footer .sub-two-right ul {
  margin: 0;
  padding: 0;
}

footer .sub-two-right ul li {
  padding-left: 15px;
  position: relative;
}

footer .sub-two-right ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #292922;
}

footer .sub-two-right ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  margin: 0 0 10px 0;
  display: block;
}

.header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #696969;
  font-size: 22px;
  line-height: 32.5px;
  font-weight: 300;
  margin-top: 5px;
}

#self-space {
  margin: 8px auto;
  display: block;
  text-align: center;
}

.auhtors1 {
  background-color: #fcfafd;
}

.auhtors1 .container .header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.auhtors1 .container .row article .slider-info {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 8px;
  border-radius: 6px;
}

.auhtors1 .container .row article .slider-info .img-circle {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 15px;
  border: 3px solid #f76a8c;
}

.auhtors1 .container .row article .slider-info .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.auhtors1 .container .row article .slider-info .message {
  width: 100%;
}

.auhtors1 .container .row article .slider-info .message .blog-single-author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.auhtors1 .container .row article .slider-info .message .blog-single-author-date li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #696969;
}

.auhtors1 .container .row article .slider-info .message .author-book-title {
  color: #292922;
  font-size: 28px;
  line-height: 36.6px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  margin-left: 27px;
}

.auhtors1 .container .row article .slider-info .message p {
  font-size: 16px;
  line-height: 24.5px;
  font-weight: 300;
  color: #696969;
  margin-top: 10px;
  margin-left: 27px;
}

.auhtors1 .container .row article .slider-info .message .read-button {
  color: #f76a8c;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

.w3l-blog .blog-article-posts .blog-post {
  padding: 5rem;
  height: 100%;
}

.w3l-blog .blog-article-posts .blog-post .author-date {
  margin-left: -2rem;
}

.w3l-blog .blog-article-posts .blog-post .author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.w3l-blog .blog-article-posts .blog-post .author-date .avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #ffffff;
  background: #ffffff;
}

.w3l-blog .blog-article-posts .blog-post .author-date .avatar img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.w3l-blog .blog-article-posts .blog-post .author-date .author-name b {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.w3l-blog .blog-article-posts .blog-post .author-date .author-name b:hover {
  color: #292922;
}

.w3l-blog .blog-article-posts .blog_post_title {
  font-size: 32px;
  line-height: 41.6px;
  display: inline-block;
  font-weight: 700;
  color: #292922;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.w3l-blog .blog-article-posts .blog_post_title:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.w3l-blog .blog-article-posts .sub-para {
  font-size: 16px;
  font-weight: bold;
  color: #777;
  display: inline-block;
  margin-right: 20px;
}

.w3l-blog .read-button {
  color: #f76a8c;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

.w3l-blog .bg-color-one {
  background-color: #f6f4f7;
}

.w3l-blog .bg-color-two {
  background-color: #fcfafd;
}

.w3l-blog .bg-color-three {
  background-color: #f2f0f3;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

@media only screen and (max-width: 414px) {
  .w3l-blog .blog-article-posts .blog-post {
    padding: 2rem 15px;
  }
  .w3l-blog .blog-article-posts h4.blog_post_title {
    font-size: 26px;
    line-height: 31.6px;
  }
}

.w3l-latest-posts {
  background-color: #fff;
}

.w3l-latest-posts .header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.w3l-latest-posts .blog-article-post {
  height: 100%;
  padding: 1.10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background: #f2f0f3;
}

.w3l-latest-posts .sub-title {
  font-size: 14px;
  color: #696969;
  margin-bottom: 10px;
}

.w3l-latest-posts .blog_post_title {
  font-size: 32px;
  line-height: 41.6px;
  display: inline-block;
  font-weight: 700;
}

.w3l-latest-posts .author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-weight: 300;
}

.w3l-latest-posts .author-date li b {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.w3l-latest-posts .read-button {
  color: #f76a8c;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

.w3l-latest-posts .read-button span {
  vertical-align: middle;
  margin-left: 5px;
}

.w3l-latest-posts .member-login-content {
  top: 0;
  bottom: 0;
  background: rgba(247, 106, 140, 0.75);
  right: 12px;
  left: 12px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 15px;
}

.w3l-latest-posts .member-login-content h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.w3l-latest-posts .member-login-content p {
  color: #fff;
  font-size: 18px;
  line-height: 28.5px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.w3l-latest-posts .member-login-content .theme-button {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  border-radius: 6px;
}

.w3l-latest-posts .member-login-content .theme-button:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.w3l-author {
  background-color: #fff;
}

.w3l-author .author-image {
  width: 230px;
  height: 230px;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid #F7F9FC;
  background: #fff;
}

.w3l-author .author-image img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.w3l-author .category {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 16px;
  color: #888;
}

.w3l-author h2 {
  font-size: 32px;
  font-weight: 700;
  color: #292922;
}

.w3l-author p {
  font-size: 16px;
  line-height: 24.5px;
  font-weight: 300;
}

.w3l-author .author-icons li {
  display: inline-block;
  margin-right: 5px;
}

.w3l-author .author-icons a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  font-size: 18px;
  color: #69696980;
}

.w3l-author .author-icons a span {
  line-height: 30px;
}

.w3l-authors {
  background-color: #fff;
}

.w3l-authors .slider-info {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 30px;
  background-color: #f2f0f3;
  border-radius: 6px;
  padding: 2rem;
  margin-top: 30px;
}

.w3l-authors .img-circle {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 15px;
  border: 3px solid #f76a8c;
}

.w3l-authors .img-circle img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.w3l-authors .blog-single-author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.w3l-authors .blog-single-author-date li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #696969;
}

.w3l-authors .author-book-title {
  color: #292922;
  font-size: 32px;
  line-height: 41.6px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
}

.w3l-authors .author-book-title:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.w3l-authors .message p {
  margin-top: 10px;
}

.w3l-breadcrumb {
  border-radius: 0;
  background-color: #f2f0f3;
}

.w3l-breadcrumb .sub-title {
  font-size: 14px;
  color: #696969;
  margin-bottom: 10px;
}

.w3l-breadcrumb .header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.w3l-breadcrumb .header-section p {
  color: #696969;
  font-size: 22px;
  line-height: 32.5px;
  font-weight: 300;
  margin-top: 5px;
}

.w3l-articles {
  background-color: #fff;
}

.w3l-articles .slider-info {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 30px;
  border-radius: 6px;
}

.w3l-articles .img-circle {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 15px;
  border: 3px solid #f76a8c;
}

.w3l-articles .img-circle img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.w3l-articles .blog-single-author-date {
  margin-left: -29px;
  margin-bottom: 2px;
}

.w3l-articles .blog-single-author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.w3l-articles .blog-single-author-date li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #696969;
}

.w3l-articles .blog-single-author-date li a:hover {
  color: #292922;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.w3l-articles .author-book-title {
  color: #292922;
  font-size: 28px;
  line-height: 36.6px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  max-width: 750px;
}

.w3l-articles .author-book-title:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.w3l-articles .message p {
  margin-top: 10px;
}

.w3l-articles .message .read-button {
  color: #f76a8c;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

.w3l-articles .article-right p {
  font-size: 16px;
  margin-bottom: 5px;
}

.w3l-articles .article-right p span {
  color: #f76a8c;
  width: 20px;
  display: inline-block;
}

.w3l-articles .article-right a {
  font-size: 16px;
  color: #696969;
}

.w3l-articles .article-right a:hover {
  text-decoration: underline;
}

.w3l-articles .article-right a span {
  color: #f76a8c;
  width: 20px;
  display: inline-block;
}

.w3l-main-slider .banner-view {
  background-size: cover;
  height: 480px;
  position: relative;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w3l-main-slider .banner-info {
  background: rgba(255, 253, 253, 0.85);
  position: absolute;
  width: 100%;
  height: 480px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w3l-main-slider .banner-info-bg {
  max-width: 750px;
  margin-top: 100px;
  margin: 0 auto;
}

.w3l-main-slider .blog_post_title {
  font-size: 32px;
  line-height: 41.6px;
  display: inline-block;
  font-weight: 700;
  color: #292922;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.w3l-main-slider .fade-in {
  opacity: 1;
}

.author-date .circle {
  width: 45px;
  height: 45px;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #fff;
  background: #fff;
}

.author-date .circle img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.author-date li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.author-date li a:hover {
  color: #f32154;
}

.owl-one .owl-nav {
  display: none;
}

.owl-one .owl-dots {
  margin-top: 0px;
  bottom: 25px;
  position: absolute;
  left: 0;
  right: 0;
}

.owl-one .owl-dots .owl-dot {
  background: transparent;
  padding: 0;
}

.owl-one .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  border-radius: 0;
  position: relative;
}

.owl-one .owl-dots .owl-dot span:hover, .owl-one .owl-dots .owl-dot span:active {
  background: #f76a8c;
}

.w3l-index5 .img-one {
  overflow: hidden;
}

.w3l-index5 .img-one img {
  display: block;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
  border-radius: 0;
  width: 100%;
}

.w3l-index5 .img-one img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.w3l-index5 .bg-color-one {
  background-color: #f6f4f7;
}

.w3l-index5 .blog-post {
  border-radius: 6px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  padding: 5rem;
  display: block;
  height: 100%;
}

.w3l-index5 .sub-para {
  font-size: 16px;
  font-weight: bold;
  color: #777;
  display: inline-block;
  margin-right: 20px;
}

.w3l-index5 .blog_post_title {
  font-size: 32px;
  line-height: 41.6px;
  display: inline-block;
  font-weight: 700;
  color: #292922;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.w3l-index5 .blog_post_title:hover {
  text-decoration: underline;
}

.w3l-index5 .author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-weight: 300;
}

.w3l-index5 .author-date li b {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.w3l-index5 .author-date li b:hover {
  color: #292922;
}

.w3l-index5 .author-date .circle-lg {
  width: 65px;
  height: 65px;
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #fff;
  background: #fff;
}

.w3l-index5 .author-date .circle-lg img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.w3l-index5 .read-button {
  color: #f76a8c;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

.w3l-index5 .read-button span {
  vertical-align: middle;
  margin-left: 5px;
}

.w3l-subscribe .main-w3 {
  background-color: #f2f0f3;
}

.w3l-subscribe .grids-forms span {
  color: #f76a8c;
  font-size: 40px;
}

.w3l-subscribe .rightside-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.w3l-subscribe .rightside-form input {
  background: #ffffff;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  color: #333;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 70px;
}

.w3l-subscribe button {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: auto;
  border-radius: 0;
}

.header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.header-section p {
  color: #444;
  color: #696969;
  font-size: 22px;
  line-height: 32.5px;
  font-weight: 300;
  margin-top: 5px;
}

.theme-button {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}

.btn-primary {
  color: #ffffff;
  background-color: #f76a8c;
  border-color: #f76a8c;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #f76a8c;
  border-color: #f76a8c;
}

.login-page {
  background: #f2f0f3;
}

.login-page .reallogin_info {
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.login-page .real_info h2 {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 3px;
  color: #f76a8c;
  font-weight: 700;
}

.login-page .real_info p {
  padding-bottom: 30px;
}

.login-page .real_info form label {
  color: #292922;
}

.login-page .input-group {
  margin-bottom: 20px;
}

.login-page .input-group input {
  outline: none;
  padding: 17px 20px;
  border-radius: 0;
  color: #292922;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f2f0f3;
}

.login-page .login-check {
  position: relative;
}

.login-page .login-check label {
  font-size: 14px;
  color: #292922;
  font-weight: 400;
}

.login-page .login-check input {
  vertical-align: -1px;
}

.login-page .btn-login {
  border: none;
  color: #fff;
  padding: 16px 40px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.login-page .btn-login:hover {
  background: #000000;
  color: #fff;
}

.login-page .account1 {
  padding-top: 20px;
  padding-bottom: 0px;
  line-height: 1.5em;
  font-size: 14px;
}

.login-page .account1 a {
  color: #f76a8c;
  font-size: 14px;
  text-decoration: underline;
}

.login-page .account1 a:hover {
  text-decoration: none;
}

.login-page #eye {
  color: #31708f;
  font-size: 1.3rem;
  position: absolute;
  top: 1rem;
  left: 25rem;
}

.login-page {
  background: #f2f0f3;
}

.login-page .reallogin_info {
  max-width: 500px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.login-page .real_info h2 {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 3px;
  color: #f76a8c;
  font-weight: 700;
}

.login-page .real_info p {
  padding-bottom: 30px;
}

.login-page .real_info form label {
  color: #292922;
}

.login-page .input-group {
  margin-bottom: 20px;
}

.login-page .input-group input {
  outline: none;
  padding: 17px 20px;
  border-radius: 0;
  color: #292922;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f2f0f3;
}

.login-page .login-check {
  position: relative;
}

.login-page .login-check label {
  font-size: 14px;
  color: #292922;
  font-weight: 400;
}

.login-page .login-check input {
  vertical-align: -1px;
}

.login-page .btn-login {
  border: none;
  color: #fff;
  padding: 16px 40px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1rem;
}

.login-page .btn-login:hover {
  background: #000000;
  color: #fff;
}

.login-page .account1 {
  padding-top: 20px;
  padding-bottom: 0px;
  line-height: 1.5em;
  font-size: 14px;
}

.login-page .account1 a {
  color: #f76a8c;
  font-size: 14px;
  text-decoration: underline;
}

.login-page .account1 a:hover {
  text-decoration: none;
}

.w3l-breadcrumb {
  border-radius: 0;
  background-color: #f2f0f3;
}

.w3l-breadcrumb .sub-title {
  font-size: 14px;
  color: #696969;
  margin-bottom: 10px;
}

.w3l-breadcrumb .header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.w3l-breadcrumb .header-section p {
  color: #696969;
  font-size: 22px;
  line-height: 32.5px;
  font-weight: 300;
  margin-top: 5px;
}

.w3l-contact .contacts12-main {
  margin: auto;
  max-width: 700px;
  text-align: center;
}

.w3l-contact .header-section h3 {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 3px;
  color: #f76a8c;
  font-weight: 700;
}

.w3l-contact .header-section p {
  color: #696969;
  font-size: 22px;
  line-height: 32.5px;
  font-weight: 300;
  margin-top: 5px;
}

.w3l-contact .contact-input {
  outline: none;
  padding: 17px 20px;
  border-radius: 0;
  color: #292922;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #f2f0f3;
  margin-bottom: 15px;
}

.w3l-contact textarea {
  height: 180px;
  resize: none;
}

.w3l-contact .theme-button {
  padding: 20px 50px;
  color: #000000;
}

.w3l-contact .theme-button:hover {
  color: #fff;
  background-color: #f54670;
  border-color: #f43a67;
}

.w3l-contact .contant11-top-bg {
  background: #f2f0f3;
}

.w3l-contact .contact {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.w3l-contact .contact a {
  display: block;
  color: #292922;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.w3l-contact .contact a:hover {
  display: block;
  color: #f76a8c;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.w3l-contact .contact-info-left {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.w3l-contact .contact-info {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  padding: 2rem;
  background: #796464;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 20px;
  background: #fff;
}

.w3l-contact .contact-info h4 {
  font-size: 16px;
  color: #696969;
  margin: 0px 0 10px 0;
}

.w3l-contact .contact-info p {
  font-size: 18px;
  color: #292922;
  line-height: 28px;
  font-weight: 500;
}

.w3l-contact .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 54px;
  border: 3px solid #f2f0f3;
}

.w3l-contact .icon span {
  font-size: 20px;
  color: #f76a8c;
}

@media (max-width: 991px) {
  .w3l-contact .contact-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .w3l-contact .contact-info-left {
    grid-gap: 40px;
  }
}

.w3l-blog-single .img-circle {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 15px;
  border: 3px solid #f76a8c;
}

.w3l-blog-single .img-circle img {
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.w3l-blog-single .about-title {
  font-size: 18px;
  color: #292922;
  margin: 15px 0;
}

.w3l-blog-single .author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-weight: 300;
}

.w3l-blog-single .author-date li a {
  color: #f76a8c;
  font-weight: 300;
  text-decoration: none;
}

.w3l-blog-single .blog-post-title {
  font-size: 32px;
  line-height: 41.6px;
  display: inline-block;
  font-weight: 700;
  color: #292922;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.w3l-blog-single .blog-desc-big {
  display: block;
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  color: #292922;
  margin-bottom: 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  max-width: 700px;
}

.w3l-blog-single .text-list ol {
  margin-left: 10px;
}

.w3l-blog-single .text-list ol li {
  font-size: 16px;
  line-height: 24.5px;
  margin: 12px 0;
  color: #292922;
  font-weight: 400;
  position: relative;
  padding-left: 15px;
}

.w3l-blog-single .text-list ol li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #f76a8c;
  border-radius: 100px;
  position: absolute;
  top: 9px;
  left: 0;
  border: 1px solid #f76a8c;
}

.w3l-blog-single .blockquote {
  position: relative;
  padding-left: 60px;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  color: #696969;
}

.w3l-blog-single .icon-quote {
  position: absolute;
  top: 4px;
  left: 0px;
}

.w3l-blog-single .icon-quote span {
  font-size: 45px;
  opacity: 0.1;
  -webkit-transition: .3s;
  transition: .3s;
  color: #696969;
}

.w3l-blog-single .blockquote-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
}

.w3l-blog-single .single-post-content p a {
  font-weight: 600;
  color: #292922;
}

.w3l-blog-single .single-post-content p a:hover {
  text-decoration: underline;
}

.w3l-blog-single .left-right {
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.w3l-blog-single .buttons-singles {
  display: inline-block;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 600;
}

.w3l-blog-single .buttons-singles a {
  color: #999;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block;
}

.w3l-blog-single .blog-single-content {
  background: #f2f0f3;
  padding: 10px;
  border-radius: 6px;
}

.w3l-blog-single .blog-single-content p {
  font-size: 16px;
  margin-bottom: 5px;
}

.w3l-blog-single .blog-single-content span {
  color: #f76a8c;
  width: 20px;
  display: inline-block;
}

.w3l-blog-single .blog-single-content a {
  font-size: 16px;
  color: #696969;
}

.w3l-blog-single .blog-single-content a:hover {
  text-decoration: underline;
}

.w3l-blog-single .blog-subscribe {
  background: #f2f0f3;
  border-radius: 6px;
}

.w3l-blog-single .subscribe-field {
  height: 55px;
  border: 1px solid #eee;
  font-size: 16px;
  border-radius: 4px;
}

.w3l-blog-single button {
  padding: 16px 40px;
}

.about-head-title {
  color: #292922;
  font-size: 32px;
  font-weight: 600;
}

.text-list ol {
  margin-left: 10px;
}

.text-list ol li {
  font-size: 16px;
  line-height: 24.5px;
  margin: 12px 0;
  color: #292922;
  font-weight: 400;
  position: relative;
  padding-left: 15px;
}

.text-list ol li::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #f76a8c;
  border-radius: 100px;
  position: absolute;
  top: 9px;
  left: 0;
  border: 1px solid #f76a8c;
}

.about-title {
  color: #292922;
  display: block;
  margin: 1em 0 2em;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}

.banner-gallery {
  margin-left: 8rem;
}

.banner-gallery .recorder-gallery {
  position: relative;
  margin: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-gallery .recorder-gallery img {
  padding-bottom: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.banner-gallery .recorder-gallery img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.banner-gallery .recorder-gallery #trash {
  position: relative;
  right: 17rem;
}

html, body {
  margin: 0px;
  padding: 0px;
  padding-right: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  background: transparent;
  color: #292922;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 24.5px;
  font-weight: 300;
  color: #696969;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #292922;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.card .card-header {
  color: #de4839;
  font-size: 25px;
  font-family: Garamond, serif;
  font-weight: bold;
  text-transform: uppercase;
}

.card .card-body blockquote p {
  font-size: 25px;
  color: grey;
  font-family: Garamond, serif;
  letter-spacing: 2px;
  text-decoration: underline;
}

.card .card-body blockquote footer {
  font-size: 15px;
  color: grey;
  text-transform: uppercase;
  font-family: Garamond, serif;
}

#topScrollBtn {
  display: none;
  position: fixed;
  right: 0.8rem;
  top: 36rem;
  z-index: 99;
  width: 3rem;
  font-size: 1.2rem;
  border: 2px solid #383434;
  background: #383434;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#topScrollBtn:hover {
  color: #383434;
  background: #fff;
  border: 2px solid #383434;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
/*# sourceMappingURL=main.css.map */