// color variables
$main-color: #de4839;
$bg-color: #fff;
$bg-color-one: #f6f4f7;
$bg-color-three: #f2f0f3;
$primary-color: #f76a8c;
$font-color: #696969;
$font-color1: #777;
$font-color2: #212529;
$heading-color: #292922;
$light-image-layer: rgba(255, 253, 253, 0.85);
$border-color : #ddd;
$bg-Black: #000000;
$eye-color: rgb(49, 112, 143);

// @import "../abstracts/fonts";


// visuals and typography properties

$transition-linear : transform 0.3s linear;
$transition-easein : 0.3s ease-in;
$transition-easeout: 0.3s ease-in-out;

$border-radius: 6px;
$fontSize16: 16px;

$card-hover-boxshadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);