@mixin blog-post-title {
    font-size: 32px;
    line-height: 41.6px;
    display: inline-block;
    font-weight: 700;
    color:#292922;
    transition: 0.3s ease-in-out;
};

@mixin  author-img {
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}