@import "../abstracts/fonts";

@mixin blog-post-title {
    font-size: 32px;
    line-height: 41.6px;
    display: inline-block;
    font-weight: 700;
    color:$heading-color;
    transition: $transition-easeout;
}

@mixin author-img {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin author-date {
    font-size: 14px;
    color: $font-color;
    display: inline-block;
    margin-right: 15px;
    transition: $transition-easeout;
    font-weight: 300;
}

// login and signup
@mixin reallogin {
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2em;
    background: $bg-color;
    box-shadow: $card-hover-boxshadow;
}

@mixin input {
    outline: none;
    padding: 17px 20px;
    border-radius: 0;
    color: $heading-color;
    width: 100%;
    font-size: $fontSize16;
    line-height: 26px;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    background: $bg-color-three;
    
}

@mixin btn-login {
    border: none;
    color: $bg-color;
    padding: 16px 40px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 1rem;
}

@mixin account {
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 1.5em;
    font-size: 14px;
}

@mixin h2 {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 3px;
    color: $primary-color;
    font-weight: 700;
}

@mixin h3 {
    color: $heading-color;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
@mixin p {
    color: $font-color;
    font-size: 22px;
    line-height: 32.5px;
    font-weight: 300;
    margin-top: 5px;
}
@mixin w3l-breadcrumb {
    border-radius: 0;
    background-color: $bg-color-three;
}

@mixin breadcrumb-subtitle {
    font-size: 14px;
    color: $font-color;
    margin-bottom: 10px;
}

@mixin li-before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: $primary-color;
    border-radius: 100px;
    position: absolute;
    top: 9px;
    left: 0;
    border: 1px solid $primary-color;
}