$white: #fff;
$main-color: #de4839;
$font-fam: san-serif;


nav {
    p {
       
        font-weight: bold;
        border: 1px solid $white ;
        padding: 8px;
       
    }

    div {
        ul {
            li {
                padding-left: 25px;
                a {
                    color: $white !important;
                    font-size: 18px;

                    &:hover {
                        color: wheat !important;
                    }
                }
            }
        }
    }

    button {
        margin-left: 15px;
        margin-top: -18px;
    }
}