$main-color: #de4839;

.content {
    background-color: antiquewhite;
    padding-bottom: 48px;
    .container {
        form {
            margin: auto;
            width: 30%;
            h3 {
                color: $main-color !important;
                // text-align: center;
                margin-left: 100px;
            }
            div {
                input {
                    width: 95%;
                }
                #eye {
                    font-size: 20px;
                    position: absolute;
                    top: 284px;
                    left: 58%;
                    color: #31708f;
                }
                #remember {
                    margin: auto;
                    width: 86%; 
                    input {
                        width: 9%;
                    }
                }
            }
            
            }
           
           
            

        }
    }
