@import "./header";
@import "./login";

$main-color: #de4839;

.card {
    .card-header {
        color: $main-color;
        font-size: 25px;
        font-family: Garamond, serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    .card-body {
        blockquote {
            p {
                font-size: 25px;
                color: grey;
                text-transform: uppercase;
                font-family: Garamond, serif;
                letter-spacing: 2px;
                text-decoration: underline;
            }
            footer {
                font-size: 15px;
                color: grey;
                text-transform: uppercase;
                font-family: Garamond, serif;
            }

        }
    }
    
}