a {
  text-decoration: none;
  background: transparent;
  color: #f76a8c;
}

a:hover {
  text-decoration: none;
}

header {
  background-color: #f76a8c;
  padding: 15px 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .navbar .navbar-brand {
  padding: 0;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
  z-index: 1;
  font-weight: 700;
}

header .container .navbar .navbar-collapse .navbar-nav .nav-item {
  padding: 0 10px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .container .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 10px 0 10px;
  font-size: 18px;
  font-weight: 700;
}

header .container .navbar .navbar-collapse .navbar-nav .nav-item .caret-off::after {
  display: none;
}

header .container .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-item {
  font-weight: 600;
  font-size: 17px;
  color: #444;
}

header .container .navbar .navbar-collapse .search-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .navbar .navbar-collapse .search-right .theme-button {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
  border-radius: 6px;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0ms;
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.93);
  height: 100vh;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup {
  padding: 40px 50px;
  border-radius: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup form {
  margin: 0rem auto;
  max-width: 600px;
  display: block;
  position: relative;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup form input[type="search"] {
  padding: 15px 45px 15px 15px;
  border: none;
  background: #fff;
  color: #292922;
  font-size: 16px;
  border-radius: 6px;
  margin: 0;
  text-align: left;
  height: 60px;
  width: 100%;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup form button {
  font-size: 18px;
  font-weight: 600;
  display: block;
  color: #f76a8c;
  position: absolute;
  right: 0;
  top: 13px;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup .browse-items h3 {
  color: #fff;
  margin-bottom: 26px;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup .browse-items .search-items {
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup .browse-items .search-items li {
  margin: 10px;
  display: inline-block;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .popup .browse-items .search-items li a {
  font-size: 16px;
  color: #eee;
  text-transform: uppercase;
  font-weight: 700;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay .close {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
  opacity: 1;
  background: none;
}

header .container .navbar .navbar-collapse .search-right .pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

header .container .navbar .navbar-collapse .search-right .domain .hamburger1 {
  width: 30px;
  float: left;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container .navbar .navbar-collapse .search-right .domain .hamburger1 div {
  height: 3px;
  width: 24px;
  background: #ffffff;
  margin: 5px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0;
  text-align: center;
}

header .container .navbar .navbar-collapse .search-right .domain .hamburger1:hover .d1 {
  width: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container .navbar .navbar-collapse .search-right .domain .hamburger1:hover .d2 {
  width: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container .navbar .navbar-collapse .search-right .domain .hamburger1:hover .d3 {
  width: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content {
  background-color: antiquewhite;
  padding-bottom: 48px;
}

.content .container form {
  margin: auto;
  width: 30%;
}

.content .container form h3 {
  color: #de4839 !important;
  margin-left: 100px;
}

.content .container form div input {
  width: 95%;
}

.content .container form div #eye {
  font-size: 20px;
  position: absolute;
  top: 284px;
  left: 58%;
  color: #31708f;
}

.content .container form div #remember {
  margin: auto;
  width: 86%;
}

.content .container form div #remember input {
  width: 9%;
}

p {
  font-size: 16px;
  line-height: 24.5px;
  font-weight: 300;
  color: #696969;
}

li {
  list-style: none;
}

#DomainModal {
  display: none;
  padding: 17px;
}

#DomainModal .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  width: 400px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

#DomainModal .modal-dialog .modal-content {
  border-radius: 0;
  border: none;
  padding: 50px;
  height: 100%;
  overflow-y: auto;
}

#DomainModal .modal-dialog .modal-content .close {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  z-index: 9;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
}

#DomainModal .modal-dialog .modal-content .close span {
  font-size: 25px;
  color: #333;
  margin-top: 20px;
  margin-right: 15px;
  background: #eee;
  width: 50px;
  height: 50px;
  line-height: 47px;
  border-radius: 30px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 1;
  display: block;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .logo a {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-menu-items .navbar-nav .nav-item .nav-link {
  color: #696969;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-menu-items .navbar-nav .nav-item .nav-link:hover {
  color: #f76a8c;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li {
  display: inline-block;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p span {
  color: #ddd;
  width: 16px;
  margin-right: 5px;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p a {
  font-weight: 600;
  color: #696969;
}

#DomainModal .modal-dialog .modal-content .modal-body .modal__content .widget-social-icons ul li p a:hover {
  color: #f76a8c;
}

#DomainModal .modal-dialog .right-toggle-bg {
  background-color: #fff;
}

footer .footer-inner-main {
  background-color: #fff;
}

footer .footer-inner-main .footer-grids .container .text-txt .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -40px !important;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-about {
  border-bottom: 1px solid #ddd;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-about .footer-about-links .header-section h3 {
  color: #292922;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-about .footer-about-links .header-section p {
  color: #696969;
  font-size: 22px;
  line-height: 32.5px;
  font-weight: 300;
  margin-top: 5px;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-about .footer-about-links .social-links ul li {
  margin-right: 0px;
  display: inline-block;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-about .footer-about-links .social-links ul li a {
  background: transparent;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #696969;
  width: 32px;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-links .sub-two-right h6 {
  color: #292922;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  margin-bottom: 28px;
  font-weight: 700;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-links .sub-two-right ul {
  margin-left: -33px;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-links .sub-two-right ul li {
  list-style: none;
  padding-left: 15px;
  position: relative;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-links .sub-two-right ul li ::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  position: absolute;
  top: 10px;
  left: 0;
  background: #292922;
}

footer .footer-inner-main .footer-grids .container .text-txt .footer-links .sub-two-right ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24.5px;
  color: #696969;
  margin: 0 0 10px 0;
  display: block;
}

#self-space {
  margin: 8px auto;
  display: block;
  text-align: center;
}

.auhtors1 {
  background-color: #fcfafd;
}

.auhtors1 .container .header-section h3 {
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.auhtors1 .container .row {
  margin-left: -15px !important;
}

.auhtors1 .container .row article .slider-info {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 8px;
  border-radius: 6px;
}

.auhtors1 .container .row article .slider-info .img-circle {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 15px;
  border: 3px solid #f76a8c;
}

.auhtors1 .container .row article .slider-info .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.auhtors1 .container .row article .slider-info .message {
  width: 100%;
}

.auhtors1 .container .row article .slider-info .message .blog-single-author-date li {
  font-size: 14px;
  color: #696969;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 300;
}

.auhtors1 .container .row article .slider-info .message .blog-single-author-date li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #696969;
}

.auhtors1 .container .row article .slider-info .message .author-book-title {
  color: #292922;
  font-size: 28px;
  line-height: 36.6px;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 5px;
  margin-left: 27px;
}

.auhtors1 .container .row article .slider-info .message p {
  font-size: 16px;
  line-height: 24.5px;
  font-weight: 300;
  color: #696969;
  margin-top: 10px;
  margin-left: 27px;
}

.auhtors1 .container .row article .slider-info .message .read-button {
  color: #f76a8c;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #292922;
}

.card .card-header {
  color: #de4839;
  font-size: 25px;
  font-family: Garamond, serif;
  font-weight: bold;
  text-transform: uppercase;
}

.card .card-body blockquote p {
  font-size: 25px;
  color: grey;
  font-family: Garamond, serif;
  letter-spacing: 2px;
  text-decoration: underline;
}

.card .card-body blockquote footer {
  font-size: 15px;
  color: grey;
  text-transform: uppercase;
  font-family: Garamond, serif;
}

.row {
  margin-left: 10% !important;
}

.row .col img {
  margin-bottom: 36px;
  border-radius: 10px;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: rgba(80, 59, 59, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(80, 59, 59, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.row .col a {
  opacity: 0;
  position: relative;
  right: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.row .col a:hover {
  opacity: 1;
}

.row .col a i {
  font-size: 20px;
}

#demo .carousel-inner {
  position: relative;
  width: 94%;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#demo .carousel-inner .carousel-item {
  width: 100%;
}

#demo .carousel-inner .carousel-item img {
  width: 100%;
  height: 550px;
}
/*# sourceMappingURL=main.css.map */