body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1 {
    color: black;
    text-decoration: none;
}

p {
    text-align: justify;
}

form {
    margin: auto;
    width: 25%;
}
.content {
    background-color: antiquewhite;
    padding-bottom: 15px;
}
.container{
    margin-top: 5%;
    width: 85%;
}



.readbtn {
    transition: all linear 0.2s;
    background: #66ad44;
    border: none;
    font-size: 13px;
    line-height: 22px;
    border-radius: 0;
    padding: 6px 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2px;
    color: white;
}

.readbtn a {
    text-decoration: none;
    color: #FEFEFE;
}

.message {
    color: red;
    font-family: arial;
    margin-left: 500px;
}

.table {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    /* max-width: 100%; */
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

.btn-group a {
    margin-bottom: 5px;
}

.subbtn {
    transition: all linear 0.2s;
    background: #66ad44;
    border: 1px solid #66ad44;
    border-radius: 6%;
    line-height: 22px;
    font-size: 13px;
    padding: 6px 14px;
    color: white;
}

.subbtn a{
    text-decoration: none;
    color: #FEFEFE;
}

#add {
    margin-left: 5%;
}
#mybtn {
    display: none;
}

#mybtn #edit {
    margin-left: -3%;
}
#mybtn #trash {
    margin-left: 5%;
}

.clr1{
    color: hsl(5deg 71% 55%);
}


/* Header CSS */

.navbar-default {
    background-color: #DE4839;
    border-bottom: 1px solid lightgrey;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

.head {
    padding: 6px;
    color: white;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 1px solid white;
}

.navbar-header {
    margin-top: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
}

.nav>li {
    position: relative;
    display: block;
    padding-left: 25px;
    padding-top: 5px;
}

#toggle {
    display: none;
}

#toggle i {
    color: #fff;
}
#toggle a {
    position: absolute;
    top: 30px;
    left: 94%;
    width: 53px;
    height: 52px;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
#toggle a span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .5s;
    font-size: 30px;
    line-height: 43px;
    /* transition: .5s; */
}
/* #toggle a span:active{
    transform: translateY(-100%);
} */


@media only screen and (max-width: 768px) {
    .head {
        width: 130px;
        margin-left: 15px;
    }
    #toggle {
       display: block;
       cursor: pointer;
    }
    .navbar-nav{
        text-align: center;
        width: 100%;
        display: none ;
    }
    .navbar-nav li  {
        display: block;
        border-bottom: 1px solid wheat;
        margin: 0;
    }
    

}





