@import "../abstracts/fonts";


.w3l-index5 {
    .img-one {
        overflow: hidden;
        img {
            display: block;
            transition: $transition-linear;
            border-radius: 0;
            width: 100%;
            &:hover {
                transform: scale(1.1);
                transition: $transition-linear;
            }
        }
    }
    .bg-color-one {
        background-color: $bg-color-one;
    }
    .blog-post {
        border-radius: $border-radius;
        transition: $transition-easein;
        padding: 5rem;
        display: block;
        height: 100%;
    }

    .sub-para {
        font-size: $fontSize16;
        font-weight: bold;
        color: $font-color1;
        display: inline-block;
        margin-right: 20px;
    }
}
.blog_post_title {
    font-size: 32px;
    line-height: 41.6px;
    display: inline-block;
    font-weight: 700;
    color: $heading-color;
    transition: $transition-easeout;

    &:hover {
        text-decoration: underline;
    }
}
.author-date {
    li {
        font-size: 14px;
        color: $font-color;
        display: inline-block;
        margin-right: 15px;
        transition: $transition-easeout;
        font-weight: 300;

        b {
            font-size: $fontSize16;
            font-weight: 700;
            text-decoration: underline;
            transition: $transition-easeout;

            &:hover {
                color: $heading-color;
            }
        }
    }
    .circle-lg {
        width: 65px;
        height: 65px;
        display: inline-block;
        overflow: hidden;
        border-radius: 15px;
        border: 2px solid $bg-color;
        background: $bg-color;

        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.read-button {
    color: $primary-color;
    font-size: $fontSize16;
    text-transform: capitalize;
    font-weight: 700;

    span {
        vertical-align: middle;
        margin-left: 5px;
    }
}