

.w3l-index5 {
    .img-one {
        overflow: hidden;
        img {
            display: block;
            transition: $transition-linear;
            border-radius: 0;
            width: 100%;
            &:hover {
                transform: scale(1.1);
                transition: $transition-linear;
            }
        }
    }
    .bg-color-one {
        background-color: $bg-color-one;
    }
    .blog-post {
        border-radius: $border-radius;
        transition: $transition-easein;
        padding: 5rem;
        display: block;
        height: 100%;
    }

    .sub-para {
        font-size: $fontSize16;
        font-weight: bold;
        color: $font-color1;
        display: inline-block;
        margin-right: 20px;
    }
    .blog_post_title {
        @include blog-post-title;
    
        &:hover {
            text-decoration: underline;
        }
    }
    .author-date {
        li {
            @include author-date();
    
            b {
                font-size: $fontSize16;
                font-weight: 700;
                text-decoration: underline;
                transition: $transition-easeout;
    
                &:hover {
                    color: $heading-color;
                }
            }
        }
        .circle-lg {
            width: 65px;
            height: 65px;
            display: inline-block;
            overflow: hidden;
            border-radius: 15px;
            border: 2px solid $bg-color;
            background: $bg-color;
    
            img {
                @include author_img;
            }
        }
    }
    .read-button {
        color: $primary-color;
        font-size: $fontSize16;
        text-transform: capitalize;
        font-weight: 700;
    
        span {
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}
