.banner-gallery {
    margin-left: 8rem;
    .recorder-gallery {
        position: relative;
        margin: auto;
        overflow: hidden;
        box-sizing: border-box;

        img {
            padding-bottom: 2rem;
            transition: all 0.3s;
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
                filter: grayscale(100%);
            }
        }
        #trash {
            position: relative;
            right: 17rem;
        }
    }
}

