.banner-gallery {
    margin-left: 8rem;
    .recorder-gallery {
        img {
            padding-bottom: 2rem;
        }
        #trash {
            position: relative;
            right: 17rem;
        }
    }
}

