
.w3l-products {
    background-color: $bg-color-three;
}
.header-section {
    h3 {
        @include header_3();
    }
}
#parentHorizontalTab {
    display: block;
    width: 100%;
    margin: 0px;
}
.resp-tabs-list {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;

        li {
            border-color: $border-color3;
            font-weight: 700;
            font-size: 18px;
            padding: 10px;
            margin: 0;
            list-style: none;
            cursor: pointer;
            float: left;
            width: 33.333%;
            text-align: center;
            color: #949494;
            background:$bg-color!important;
            border-bottom: 3px solid ;
        }
    }
    .resp-tab-active {
        margin-bottom: -1px !important;
        border-bottom: 3px $primary-color solid !important;
        color: $primary-color !important;
    }

.resp-tabs-container {
    padding: 0px;
    clear: left;
}