footer {
    .footer-inner-main {
        background-color: $bg-color;
    }
    .footer-about {
        border-bottom: 1px solid $border-color;
    }
    .social {
        li {
            margin-right: 0;
            display: inline-block;
            a {
                background: transparent;
                display: inline-block;
                text-align: center;
                font-size: 18px;
                color:$font-color;
                width: 32px;
            }
        }
    }
    h6 {
        color: $heading-color;
        font-size: 20px;
        line-height: 20px;
        text-transform: capitalize;
        margin-bottom: 28px;
        font-weight: 700;
    }
    .sub-two-right {
        ul {
            margin: 0;
            padding: 0;
            li {
                padding-left: 15px;
                position: relative;

                &::before {
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 100px;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    background: $heading-color;
                 }

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24.5px;
                    color: $font-color;
                    margin: 0 0 10px 0;
                    display: block;
                 }
            }
        }
    }
}
.header-section {
    h3 {
        @include header_3();
    }
     p {
        @include paragraph();
     }
}