.w3l-subscribe {
    .main-w3 {
        background-color: $bg-color-three;
    }
    .grids-forms {
        span {
            color: $primary-color;
            font-size: 40px;
        }
    }
    .rightside-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        input {
            background: $white;
            border: none;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 16px;
            color: #333;
            flex-basis: 70%;
            height: 70px;
        }
    }
    button {
        flex-basis: 30%;
        height: auto;
        border-radius: 0;
    }
}
.header-section {
    h3 {
        @include header_3();
    }
    p {
        color: #444;
        @include paragraph();
    }
}
.theme-button {
    transition: $transition-easeout;
    display: inline-block;
    font-weight: 700;
    font-size: $fontSize16;
    margin: 0px;
}
.btn-primary {
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
        color: $white;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}